* {
    margin: 0;
    padding: 0;
}

#text {
    text-align: center;
    margin-top: 5%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom {
    margin: 0 auto;
}

.submit-button {
    margin-top: 5px;
}

.answer {
    background-color:bisque;
    width: 400px;
    margin: 0 auto;
    padding: 40px;
}